body {
    text-align: center;
    
  }
  
  
  
  
  header {
    background-color: rgb(58, 58, 58);
    margin-bottom: 15px;
    
  }
  
  
  
  /* for images at all */
  img {
    margin: 15px;
  }
  
  /* for nav bar */
  li{
    
    display: inline-block;
    vertical-align: middle;
    color: gray;
  margin-right: 100px;
  }
  
  
  
  button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 350mc;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  
  
  .imges{
  
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 30px ;
  
  }
  
  
  .hi{
      grid-template-columns: 50% auto;
    gap:30px;
    padding: 50px;;
    margin-left: 120px;
   
   
  }
  
  
  p  {
   
    color: white;
    padding: 15px;
    width: 60%;
    height:300px;
    overflow: scroll;
    border: 1px solid #ccc;
    text-align: center;
    margin: 15px;
  
  }
  
  
  .parg {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap:50px;
    padding: 20px ;
    
  } 
  
  /* section ul li{
      float: left;
      text-align: center;
      margin-top: auto;
      align-items: center;
      align-content: center;
    
      
  }
  
  section div p{
    float: right ;
    display: inline-block;
    text-align: right;
    margin-top: auto;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
    
  } */
  
  
  .opp{
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px ;
    gap :15px ;
    /* margin-right: 100px; */
   
  }
  
  .new {
    margin-left: 50px;
  }
  h2 {
    margin-right: 100px;
  }
  
  
  footer {
    background-color:  rgb(58, 58, 58);
    height: 150px;
    
  }